.buttonLink {
  margin-top: 8px;
  padding-left: 0;
  cursor: pointer;
  text-decoration: underline;
  background: transparent;
  border: none;
}

.collapsibleSection {
  max-height: 0px;
  overflow: hidden;
}

.collapsibleSectionExpanded {
  max-height: '500px';
}
