.buttonLink {
  margin-top: 8px;
  padding-left: 0;
  cursor: pointer;
  color: #008C73;
  text-decoration: underline;
  background: transparent;
  border: none;
  font-size: 16px;
  line-height: 22px;
}

.collapsibleSection {
  max-height: 0px;
  overflow: hidden;
}

.collapsibleSectionExpanded {
  max-height: '500px';
}