.assetsHeader {
  display: flex;
  gap: var(--space-1);
  align-items: center;
}

@media (max-width: 600px) {
  .assetsHeader {
    position: absolute;
    bottom: -56px;
  }

  .contentWrapper {
    margin-top: 56px;
  }
}
