.popup {
  position: fixed;
  z-index: 1300;
  bottom: var(--space-2);
  right: var(--space-2);
  max-width: 400px;
}

.container {
  padding: var(--space-2);
  border-radius: 0 !important;
}

.container label,
.container input {
  user-select: none;
}

@media (max-width: 600px) {
  .container {
    right: 0;
    bottom: 0;
  }
}
