.container {
  position: relative;
  z-index: 2;
  margin: 0 0 -94px; /* cover the stepper bottom buttons */
  padding: var(--space-3);
}

.container button[type='submit'] {
  position: static !important;
}

.actions {
  margin: 24px -24px -24px;
  background-color: var(--color-background-paper);
}

.title {
  top: -66px; /* cover the stepper title */
  position: absolute;
  left: 0;
  width: 100%;
  background: var(--color-background-paper);
}
