.container {
  position: relative;
  z-index: 2;
  margin: 0 0 -118.5px; /* cover the stepper bottom buttons */
}

.container button[type='submit'] {
  position: static !important;
}

.actions {
  margin: -24px;
  margin-top: 24px;
  background-color: var(--color-background-paper);
}
