.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
  padding: calc(var(--space-1) / 2) var(--space-1);
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.lightbulb {
  margin-right: calc(var(--space-1) / 2);
}

.count {
  color: var(--color-text-secondary);
}

.content {
  padding: 0;
}

.tipAccordion {
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
  background-color: inherit;
  border: none;
}
