.header {
  cursor: pointer;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
  padding: calc(var(--space-1) / 2) var(--space-1);
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.lightbulb {
  margin-right: calc(var(--space-1) / 2);
}

.count {
  color: var(--color-text-secondary);
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.tipsTitles {
  padding: var(--space-1);
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-2);
  row-gap: calc(var(--space-1) / 2);
}

.dot {
  border-radius: 2px;
  width: var(--space-1);
  height: var(--space-1);
}

.listItem {
  display: flex;
  align-items: center;
  gap: var(--space-1)
}
