.container {
  margin: 6px 0;
}

.gridContainer {
  width: 100%;
  display: grid;
  gap: var(--space-2);
  align-items: center;
  white-space: nowrap;
}

.columnTemplate {
  grid-template-columns: minmax(50px, 0.25fr) 2fr 2fr 2fr 1fr 1fr minmax(140px, 1fr);
  grid-template-areas: 'nonce type info date confirmations actions status';
}

.columnTemplateWithoutNonce {
  grid-template-columns: minmax(50px, 0.25fr) 2fr 2fr 2fr 1fr 1fr minmax(140px, 1fr);
  grid-template-areas: 'nonce type info date confirmations actions status';
}

@media (--breakpoint-sm) {
  .gridContainer {
    gap: var(--space-1);
  }

  .columnTemplate {
    grid-template-columns: repeat(12, auto);
    grid-template-areas:
      'nonce type type type type type info info info info info info'
      'date date date date date date confirmations confirmations confirmations confirmations confirmations confirmations'
      'status status status status status status actions actions actions actions actions actions';
  }

  .columnTemplateWithoutNonce {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'type type type type type type info info info info info info'
      'date date date date date date confirmations confirmations confirmations confirmations confirmations confirmations'
      'status status status status status status actions actions actions actions actions actions';
  }
}
