.gridContainer {
  width: 100%;
  display: grid;
  gap: var(--space-2);
  align-items: center;
  white-space: nowrap;
}

.untrusted {
  opacity: 0.4;
}

.columnTemplate {
  grid-template-columns:
    minmax(50px, 0.25fr) minmax(150px, 2fr) minmax(150px, 2fr) minmax(200px, 2fr) 1fr minmax(60px, 0.5fr)
    minmax(170px, 1fr);
  grid-template-areas: 'nonce type info date confirmations actions status';
}

.columnTemplateTxHistory {
  grid-template-columns: minmax(50px, 0.25fr) minmax(150px, 3fr) minmax(150px, 3fr) 0.75fr 0.5fr;
  grid-template-areas: 'nonce type info date status';
}

.columnWrap {
  white-space: normal;
}

@media (max-width: 599.95px) {
  .columnWrap {
    word-break: break-word;
  }

  .gridContainer {
    gap: var(--space-1);
  }

  .columnTemplate {
    grid-template-columns: repeat(12, auto);
    grid-template-areas:
      'nonce type type type type type type type type type type type'
      'empty info info info info info info info info info info info'
      'empty date date date date date date date date date date date'
      'empty confirmations confirmations confirmations confirmations confirmations confirmations confirmations confirmations confirmations confirmations confirmations'
      'empty status status status status status status status status status status status'
      'empty actions actions actions actions actions actions actions actions actions actions actions';
  }

  .columnTemplateTxHistory {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      'nonce type type type type type type type type type type type'
      'empty info info info info info info info info info info info'
      'empty date date date date date date date date date date date'
      'empty status status status status status status status status status status status';
  }
}
