.container {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  width: 300px;
  flex-shrink: 0;
  overflow: auto;
}

.main {
  flex: 1;
  padding: 20px;
  overflow: auto;
}
