.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 220px 1fr;
  grid-template-areas: 'sidebar main';
}

.main {
  grid-area: main;
  padding: 25px;
  overflow: auto;
  height: 100vh;
  background-color: #F6F7F8; /* @TODO: move to the theme */
}

.drawer {
  grid-area: sidebar;
  height: 100vh;
  box-shadow: rgb(40 54 61 / 8%) 1px 2px 12px;
}

.toolbar {
  max-height: 52px;
  min-height: 52px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: 'main';
  }
    
  .drawer {
    display: none;
  }
}
