.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 220px 1fr;
  grid-template-areas:
    'header header'
    'sidebar main';
}

.container header {
  grid-area: header;
  position: relative;
  z-index: 1201;
}

.main {
  grid-area: main;
  padding: var(--space-3);
  overflow: auto;
  height: calc(100vh - 52px);
  position: relative;
}

.sidebar {
  grid-area: sidebar;
  height: calc(100vh - 52px);
}

@media (max-width: var(--breakpoint-md)) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'main';
  }

  .sidebar {
    display: none;
  }

  .main {
    padding: var(--space-1);
  }
}
