.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'header header'
    'sidebar main';
}

.container header {
  grid-area: header;
  position: relative;
  z-index: 1201;
}

.main {
  grid-area: main;
  padding: var(--space-3);
  overflow-y: auto;
  overflow-x: hidden;
  min-height: calc(100vh - 52px); /* needed for scroll */
  position: relative;
  background-color: var(--color-background-main);
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}

.sidebar {
  grid-area: sidebar;
}

@media (max-width: 768px) {
  .container {
    display: block;
    padding-top: 52px;
    height: auto;
  }

  .container header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .sidebar {
    display: none;
  }

  .main {
    padding: var(--space-2);
    overflow: hidden;
  }
}
