.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 220px 1fr;
  grid-template-areas: 'sidebar main';
}

.main {
  grid-area: main;
  padding: 20px;
  overflow: auto;
  height: 100vh;
}

.drawer {
  grid-area: sidebar;
  height: 100vh;
}
