.hide {
  display: none;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-1);
}


.tableRow {
  display: flex;
}

.tableCard {
  padding: var(--space-1) var(--space-2);
  display: none;
}

@media (max-width: 900px) {
  .tableRow {
    display: none;
  }

  .tableCard {
    display: flex;
  }
}
