.hide {
  display: none;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-1);
}

.cellCard {
  display: none;
}

@media (max-width: 900px) {
  .cellCard {
    display: table-cell;
  }

  .normalRow {
    display: none;
  }
}
