.disclaimerContainer {
  background-color: var(--color-border-light);
  padding: 8px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 50px auto 70px;
  gap: 4px;
  align-items: center;
}

.alignItemsWithMargin {
  display: flex;
  align-items: center;
}
