.container tbody tr {
  transition: background-color 100ms linear;
}

.container tbody tr:hover {
  background-color: var(--color-secondary-background);
}

.container td:last-of-type button {
  opacity: 0;
  transition: opacity 200ms 100ms ease-in-out;
}

.container tr:hover td:last-of-type button {
  opacity: 1;
}

.headerButtonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 8px;
}

@media (max-width: 599.95px) {
  .container td:last-of-type button {
    opacity: 1;
  }
}
