.gridRow {
  display: grid;
  grid-template-columns: 25% auto;
  gap: var(--space-1);
  justify-content: flex-start;
  max-width: 900px;
  overflow-x: auto;
  margin-top: 4px;
}

.gridRow:first-of-type {
  margin-bottom: 0;
}

.gridEmptyRow {
  display: grid;
  grid-template-columns: 35% auto;
  gap: var(--space-1);
  justify-content: flex-start;
  max-width: 900px;
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
  border-top: 1px solid var(--color-border-light);
}

.title {
  color: var(--color-primary-light);
  font-weight: 400;
  word-break: break-all;
}

.title span:nth-child(2) {
  word-break: normal;
}

.gridRow > * {
  flex-shrink: 0;
}

.valueWrapper {
  min-width: 50%;
  flex-shrink: 0;
}

.rawData {
  display: flex;
  align-items: center;
}

@media (max-width: 599.95px) {
  .gridRow {
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: var(--space-1);
  }
}
