.list {
  list-style: none;
  counter-reset: item;
  padding: 0;
  margin: var(--space-2) 0;
}

.list li {
  counter-increment: item;
  margin-bottom: var(--space-2);
  display: flex;
}

.list li:before {
  margin-right: var(--space-1);
  content: counter(item);
  background: var(--color-primary-main);
  border-radius: 100%;
  color: var(--color-background-paper);
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  flex-shrink: 0;
}

.list li:last-child {
  margin-bottom: 0;
}

.defaultPassword,
.passwordsShouldMatch {
  color: var(--color-border-main);
}

.passwordsShouldMatch svg path {
  stroke: var(--color-border-main);
}

.defaultPassword svg path {
  stroke: var(--color-border-main);
}

.weakPassword {
  color: var(--color-error-main);
}

.weakPassword svg path:first-child {
  stroke: var(--color-error-main);
}

.mediumPassword {
  color: var(--color-warning-main);
}

.mediumPassword svg path:first-child,
.mediumPassword svg path:nth-child(2) {
  stroke: var(--color-warning-main);
}

.strongPassword {
  color: var(--color-success-main);
}

.strongPassword svg path {
  stroke: var(--color-success-main);
}

.passwordsMatch {
  color: var(--color-success-main);
}

.passwordsNoMatch {
  color: var(--color-error-main);
}
