.container {
  background-color: var(--color-background-paper);
  border-radius: 8px;
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
  margin: var(--space-3) var(--space-2) var(--space-2);
}

.sidebarContainer {
  margin: var(--space-2) var(--space-1);
  padding: 0;
}

.header {
  padding: 0 var(--space-2);
  display: flex;
  justify-content: space-between;
}

.title {
  margin: auto 0;
}

.ownedLabelWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ownedLabel {
  cursor: pointer;
  color: var(--color-primary-light);
}

.list {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 0;
}

@media (max-width: 599.95px) {
  .list {
    overflow-x: auto;
  }
}
