.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container,
.container p {
  font-size: inherit;
  line-height: 1.4;
}

.avatar,
.avatar * {
  flex-shrink: 0;
  width: 2.3em !important;
  height: 2.3em !important;
}

.addressRow {
  display: flex;
  align-items: center;
  gap: 4px;
}
