.container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.container,
.address {
  font-size: inherit;
  line-height: 1.4;
}

.avatar {
  flex-shrink: 0;
}

.resizeAvatar,
.resizeAvatar * {
  width: 2.3em !important;
  height: 2.3em !important;
}

.addressRow {
  display: flex;
  align-items: center;
  gap: 0.25em;
  white-space: nowrap;
}

.nameRow {
  overflow: hidden;
}
