.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar,
.avatar img {
  flex-shrink: 0;
  width: 2.3em;
  height: 2.3em;
}

.addressRow {
  display: flex;
  align-items: center;
  gap: 4px;
}
