.card {
  position: relative;
}

.sendButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .sendButton {
  z-index: 3;
  opacity: 1;
}

.card::after {
  content: '';
  background: var(--color-background-paper);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover::after {
  z-index: 2;
  opacity: 0.7;
}

.image {
  object-fit: contain;
  width: 100%;
  max-height: 200px;
}
