.container {
  width: 100%;
  padding: 11px 16px;
  background-color: var(--color-background-paper);
  border: 1px solid var(--color-background-paper);
  border-radius: 8px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: var(--space-2);
  min-height: 50px;
}

.container:hover {
  background-color: var(--color-background-light);
  border-color: var(--color-secondary-light);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  width: 100%;
}

.skeleton {
  border-radius: 8px;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: space-between;
}
