.sublist {
  display: grid;
  gap: 4px;
  margin-left: var(--space-3);
  padding: 0 0 0 10px;
  border-left: 1px solid var(--color-border-light);
}

.sublist::after {
  content: '';
  height: 20px;
  width: 1px;
  position: absolute;
  bottom: 0;
  left: -1px;
  background-color: var(--color-background-main);
}

.sublistItem {
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sublistItem::before {
  content: '';
  width: 6px;
  height: 1px;
  position: absolute;
  left: -10px;
  background-color: var(--color-border-light);
}
