.hint {
  padding: var(--space-2);
  border: unset;
}

.hint :global .MuiAlert-icon {
  padding: 0;
}

.hint :global .MuiAlert-message {
  padding: 0;
}

.warning {
  padding: var(--space-2) var(--space-4);
  background-color: unset;
}

.warning :global .MuiAlert-message {
  padding: 0;
}

.checkbox {
  margin: var(--space-2) 0;
}

.checkbox :global .MuiCheckbox-root {
  padding: 0 12px;
}

.verdictBox {
  border-radius: 6px;
  border: 1px solid var(--color-border-light);
  padding: var(--space-2);
  margin: var(--space-2) 0;
}
