# dependencies
/node_modules
**/node_modules/*
/.pnp
.pnp.js

# testing
/coverage

# next.js
**/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.idea

# Yarn v4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# expo
**/.expo/*

# tamagui
**/.tamagui/*


# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files

.env
.env.local
.env.local*
.env.development.local
.env.test.local
.env.production.local
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo

# yalc
.yalc
yalc.lock

certificates
*storybook.log

# os
THUMBS_DB
thumbs.db

# web
apps/web/.next/*
apps/web/out/*
apps/web/public/sw.js
apps/web/public/workbox-*.js
apps/web/public/worker-development.js
apps/web/src/types/
apps/web/tsconfig.tsbuildinfo
node_modules/*
out/*
tsconfig.tsbuildinfo
apps/web/.env
apps/web/node_modules/*
apps/web/public/fallback-development.js
apps/web/.env
apps/web/src/types/contracts/*