
# next.js
**/.next/*
/out/

# local env files
.env
.env.local
.env.local*
.env.development.local
.env.test.local
.env.production.local
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo

# os
.DS_Store
THUMBS_DB
thumbs.db

**/node_modules/*

# intellij
.idea

# Turborepo
.turbo

# Yarn v4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
