# pnpm requires peer dependencies to be explicitly installed

auto-install-peers=true

# however, we can 'hoist' them from .pnpm/node_modules to node_modules
# the following are effectively package.json dependencies

# automatically hoist types, linting, and prettier
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*

# @ethersproject, e.g. @ethersproject/providers, @ethersproject/bignumber
public-hoist-pattern[]=@ethersproject*

# MUI, e.g. @mui/system, @mui/base
public-hoist-pattern[]=@mui*

# redux types (storeHydrator)
public-hoist-pattern[]=redux

# @web3-onboard/common (onboard/pairing module)
public-hoist-pattern[]=@web3-onboard*

# custom pairing module/connector
public-hoist-pattern[]=@walletconnect*
public-hoist-pattern[]=bowser
public-hoist-pattern[]=rxjs