.chatfullheight {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.messagecontainer {
    background: #8080801f;
    padding: 14px;
    display: flex;
    flex-flow: column;
    border-radius: 14px;
    width: fit-content;
    max-width: 100%;
}

.ownerstylingchat {
    font-weight: 600;
    word-break: break-all;
}

.flexmessagewrapper {
    gap: 6px;
    display: flex;
    flex-flow: column;
}

.chatsendbuttons {
  position: sticky;
  bottom: 0;
}
