.chatfullheight {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.logincard {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.messagecontainer {
  background: #8080801f;
  padding: 14px;
  display: flex;
  flex-flow: column;
  border-radius: 14px;
  width: fit-content;
  max-width: 100%;
}

.ownerstylingchat {
  font-weight: 600;
  word-break: break-all;
}

.flexmessagewrapper {
  gap: 6px;
  display: flex;
  flex-flow: column;
}

.chatsendbuttons {
  position: sticky;
  bottom: 0;
  background: var(--color-background-paper);
  padding-top: 6px;
}

.formchatbuttonswrapper {
  display: flex;
  flex-flow: row;
  gap: 8px;
}

.inputmessage {
  background: transparent;
  border: 1px solid var(--color-border-light);
  border-radius: 14px;
  padding: 10px 14px;
  font-family: 'DM Sans';
  color: var(--color-text-primary);
  outline: none;
  font-size: 16px;
  width: 100%;
}

.submitbuttonchat {
  padding: 9px 14px;
  border-radius: 14px;
  border: 0;
  background: #2f92f5;
  color: #fff;
  font-size: 25px;
}

/* for groupslist*/
.container {
  border: 1px solid white;
  padding: 1em;
  margin-top: 1em;
}

.group {
  border: 1px solid white;
  padding: 1em;
  margin-top: 1em;
}
