.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.balance {
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: -0.5px;
  display: inline-block;
  padding: 5px 10px;
  margin-top: 4px;
  margin-left: 40px;
  border-radius: 3px;
}

.tokenPreview {
  text-align: center;
}

.tokenPreview img {
  margin: 0;
}
