.container {
  display: grid;
  padding: 8px 8px;
  gap: 16px;
}

.safe {
  display: flex;
  gap: 16px;
  text-align: left;
  align-items: center;
}

.icon {
  padding-top: 8px;
  padding-right: 8px;
}

.iconButtons {
  display: flex;
  gap: 8px;
}

.iconButton {
  border-radius: 4px;
  padding: 6px;
}
