.container {
  display: grid;
  padding: 16px 16px;
}

.safe {
  display: flex;
  gap: 12px;
  text-align: left;
  align-items: center;
}

.iconButtons {
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
}

.iconButtons a {
  display: flex; /* link gets same height as child button*/
}

.iconButton {
  border-radius: 4px;
  padding: 6px;
}
