.accordion {
  box-shadow: none;
  border: none;
  background: transparent;
}

.accordion :global .MuiAccordionSummary-root {
  padding: 0 var(--space-3);
  justify-content: flex-start;
  background: transparent;
}

.accordion :global .MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px;
  background: transparent;
}

.accordion :global .MuiAccordionSummary-root .MuiAccordionSummary-content {
  flex-grow: 0;
}

.accordion :global .MuiAccordionSummary-root .MuiAccordionSummary-content.Mui-expanded {
  margin: var(--space-2) 0;
}
