.container {
  height: 52px;
  padding: 0 20px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  box-shadow: rgb(40 54 61 / 18%) 0px 2px 4px 0px;
}

.logo {
  height: 29px;
  width: auto;
  display: block;
}

.menuButton {
  display: none;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
  .menuButton {
    display: block;
  }
}
