.container {
  height: var(--header-height);
  padding: 0 var(--space-2);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  z-index: 2;
  border-radius: 0 !important;
  background-color: var(--color-background-paper);
}

.logo {
  flex: 1;
}

.logo svg {
  width: auto;
  display: block;
  fill: var(--color-logo-main);
}

.menuButton {
  display: none;
}

.tokenWidget {
  height: 100%;
}

.chainSwitcher {
  margin-right: var(--space-2);
}

@media (max-width: 768px) {
  .logo,
  .tokenWidget,
  .notificationCenter,
  .chainSwitcher {
    display: none;
  }

  .menuButton {
    display: block;
    flex: 1;
  }
}
