.wrapper {
  display: flex;
  justify-content: space-between;
  padding: var(--space-1) var(--space-2);
}

.poweredBy {
  color: var(--color-text-secondary);
  display: inline-flex;
  align-items: center;
  gap: var(--space-1);
}

.result {
  display: inline-flex;
  align-items: center;
}

.simulate {
  margin: 0;
  padding: calc(var(--space-1) / 2) var(--space-2);
}
