.container {
  padding: var(--space-1);
  font-size: 13px;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  justify-content: center;
}

.container li {
  padding: 0.2em var(--space-1);
}

.container li:not(:last-of-type):after {
  content: '|';
  margin-left: var(--space-2);
}

@media (max-width: 768px) {
  .container li:not(:last-of-type):after {
    visibility: hidden;
  }
}
