.macOsInfo {
  border-color: var(--color-info-main);
  background-color: var(--color-background-main);
  padding: var(--space-2);
}

.macOsInfo :global .MuiAlert-icon {
  color: var(--color-text-main);
  padding: 0;
}

.macOsInfo :global .MuiAlert-message {
  padding: 0;
}

.item {
  padding-left: var(--space-1);
}

.icon {
  min-width: 38px;
}

.globalInfo {
  border-radius: 6px;
  border: 1px solid var(--color-secondary-light);
  background-color: var(--color-secondary-background);
  padding: var(--space-2);
}

[data-theme='dark'] .globalInfo {
  background-color: var(--color-info-background);
}
