.card {
  border: none;
}

.header {
  padding: var(--space-3) var(--space-2);
}

.header :global .MuiCardHeader-title {
  font-weight: 700;
}

.header :global .MuiCardHeader-subheader {
  color: var(--color-text-primary);
}

.step {
  background-color: var(--color-primary-main);
  height: 20px;
  width: 20px;
}

.content {
  padding: var(--space-3) 52px;
  border-top: 1px solid var(--color-border-light);
  border-bottom: 1px solid var(--color-border-light);
}

.actions {
  padding: var(--space-3) 52px;
}
