.container {
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px 12px;
}

.addButton {
  border-radius: 8px;
  font-weight: 700;
}

.chainDivider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: unset;
  border-radius: 8px;
  text-transform: none;
  height: 27px;
  margin-left: 8px;
  margin-right: 8px;
}

.ownedLabel {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ownedLabel:hover {
  background-color: unset;
}

.list {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 0;
}
