.container {
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px 12px;
}

.addButton {
  border-radius: 8px;
  font-weight: 700;
}

.chainDivider {
  width: unset;
  border-radius: 8px;
  text-transform: none;
  height: 27px;
  margin-left: var(--space-1);
  margin-right: var(--space-1);
  margin-bottom: var(--space-2);
}

.ownedLabelWrapper {
  padding-top: var(--space-1);
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul + .ownedLabelWrapper {
  padding-top: 0;
}

.ownedLabelWrapper:hover {
  background-color: unset;
}

.ownedLabel {
  cursor: pointer;
  color: var(--color-secondary-light);
  margin-top: 8px;
  margin-bottom: 8px;
}

.list {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 0;
}
