.sidebar {
  background: var(--color-background-paper);
  border-radius: 6px;
}

.accordion :global .MuiAccordionDetails-root > div > div > div:first-child,
.accordion :global .MuiAccordionSummary-expandIconWrapper {
  display: none;
}

.accordion {
  border: 0;
  height: calc(100vh - var(--header-height) - var(--footer-height) - 24px);
  overflow: auto;
}

.accordion :global .MuiAccordionSummary-root {
  background: transparent !important;
  padding: var(--space-3);
  border-bottom: 1px solid var(--color-border-light);
  pointer-events: none;
}

.accordion :global .MuiAccordionSummary-content {
  margin: 0;
}

.content {
  background: linear-gradient(-90deg, #10ff84, #5fddff);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  height: 100%;
  border-radius: 6px;
  padding: var(--space-12);
  padding-top: 184px;
}

@media (max-width: 1200px) {
  .content {
    padding: var(--space-8);
  }
}

@media (max-width: 900px) {
  .sidebar {
    height: 100%;
  }

  .accordion {
    height: auto;
  }

  .accordion :global .MuiAccordionSummary-root {
    pointer-events: auto;
  }

  .accordion :global .MuiAccordionSummary-expandIconWrapper {
    display: block;
  }
}

@media (max-width: 600px) {
  .content {
    padding: var(--space-4);
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
