.dropbox {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: var(--space-2) 0;
  margin: var(--space-3) 0;
  min-height: 200px;
}
