.container {
  padding: 20px;
  width: 220px;
}

.chain {
  margin: -20px -20px 20px;
  text-align: center;
  font-size: 11px;
}

.chain > * {
  padding: 3px;
}

.newTxButton {
  margin: 20px 0;
  text-align: center;
}

.noSafeSidebar {
  background: url('/keyhole.svg') center 0 no-repeat;
  min-height: 100px;
}
