.container {
  padding: 20px;
  height: 100%;
}

.chain {
  margin: -20px -20px 20px;
  text-align: center;
  font-size: 11px;
}

.chain > * {
  padding: 3px;
}

.newTxButton {
  margin: 20px 0;
  text-align: center;
}
