.container,
.drawer {
  width: 220px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.container {
  padding: 20px 0;
  overflow: hidden;
  border: none;
  box-shadow: rgb(40 54 61 / 8%) 1px 2px 12px;
}

.drawer {
  text-align: center;
  padding: 74px 20px 20px;
}

.chain {
  margin: -20px -20px 20px;
  text-align: center;
  font-size: 11px;
}

.chain > * {
  padding: 3px;
}

.newTxButton {
  margin: 20px 0;
  text-align: center;
}

.noSafeSidebar {
  background: url('/keyhole.svg') center 10px no-repeat;
  min-height: 100px;
}

.drawerButton {
  position: absolute;
  z-index: 2;
  right: 0;
  transform: translateX(50%);
  top: 40px;
  background-color: #F6F7F8; /* @TODO: move to the theme */
}

.drawerButton svg {
  transform: translateX(-25%);
}

.menu {
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    padding-top: 74px;
  }
}
