.drawer,
.container {
  width: 220px;
  padding: 20px 0;
  overflow-y: auto;
}

.drawer {
  padding: 20px;
  text-align: center;
}

.chain {
  margin: -20px -20px 20px;
  text-align: center;
  font-size: 11px;
}

.chain > * {
  padding: 3px;
}

.newTxButton {
  margin: 20px 0;
  text-align: center;
}

.noSafeSidebar {
  background: url('/keyhole.svg') center 0 no-repeat;
  min-height: 100px;
}

.drawerButton {
  position: absolute;
  z-index: 2;
  right: 0;
  transform: translateX(50%);
  top: 90px;
  background-color: #F6F7F8; /* @TODO: move to the theme */
}

.drawerButton svg {
  transform: translateX(-25%);
}

.menu {
  padding: 20px;
}
