.container {
  padding: 0 var(--space-2);
}

.buttonContainer {
  display: flex;
  align-items: center;
  text-align: left;
  gap: var(--space-1);
}

.popoverContainer {
  padding: var(--space-2);
  width: 265px;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.addressName {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.address {
  height: 40px;
}

.address div[title] {
  font-weight: bold;
}

.rowContainer {
  align-self: stretch;
  border: 1px solid var(--color-border-light);
  border-radius: 4px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-border-light);
  padding: 12px;
  margin-top: -2px;
}

.row:first-of-type {
  border: 0;
}
