.connectedContainer {
  display: flex;
  align-items: center;
}

.popoverContainer {
  padding: var(--space-2);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
}

.imageContainer {
  position: relative;
  font-size: 16px;
}

.imageContainer img {
  display: block;
}

[data-theme='dark'] .imageContainer img[alt*="Trezor"],
[data-theme='dark'] .imageContainer img[alt*="Ledger"] {
  filter: invert(100%);
}

.rowContainer {
  align-self: stretch;
  margin-left: calc(var(--space-2) * -1);
  margin-right: calc(var(--space-2) * -1);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--color-border-light);
  border-bottom: 2px solid var(--color-border-light);
  padding: 4px var(--space-2);
  margin-top: -2px;
}

@media (max-width: 600px) {
  .buttonContainer button {
    font-size: 12px;
  }

  .imageContainer,
  .walletDetails {
    display: none;
  }
}
