.container {
  position: relative;
}

.container button[type='submit'] {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.stepIndicator {
  position: absolute;
  right: 0;
  top: 0;
}
