.accordion * {
  border-width: 1px;
}

.closed:hover,
.batched {
  box-shadow: 10px 5px 5px #2d283470;
}

.expanded {
  box-shadow: 10px 5px 5px #2d283470;
}

.expanded :global .MuiAccordionSummary-root {
  background-color: var(--color-secondary-background);
}
