.container {
  position: relative;
}

.image {
  display: block;
  width: auto;
}

[data-theme='dark'] .image {
  background: var(--color-secondary-main);
  border-radius: 50%;
  padding: 2px;
}

.safenetContainer {
  position: absolute;
  top: -40%;
  right: -40%;
  background-color: #1c1c1c;
  border-radius: 50%;
  padding: 4px;
  display: flex;
}
