.dropbox {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: var(--space-3) var(--space-5);
  margin: var(--space-3) 0;
  background: var(--color-secondary-background);
  color: var(--color-primary-light);
}

.vertical_line {
  display: flex;
  height: 18px;
  border: 1px solid var(--color-primary-main);
  margin-left: var(--space-1);
  margin-top: -8px;
}

.horizontal_divider {
  display: flex;
  margin: 24px -24px;
  border-top: 2px solid rgba(0, 0, 0, 0.12);
}
