.container :global .MuiAlert-message {
  padding: 4px;
}

.container :global .MuiAlert-action {
  padding-top: 2px;
}

.container :global .MuiAlert-root {
  border: 1px solid var(--color-secondary-light);
}
