@import url(./vars.css);
@import url(./onboard.css);

@font-face {
  font-family: 'DM Sans';
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/dm-sans-v11-latin-ext-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Sans';
  font-display: swap;
  font-weight: bold;
  src: url('/fonts/dm-sans-v11-latin-ext-700.woff2') format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: DM Sans, sans-serif;
  background-color: var(--color-background-paper);
}

main {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --header-height: 52px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
