.accordion {
  box-shadow: none;
  border: none;
  background: transparent;
}

.accordion :global .MuiAccordionSummary-root,
.accordion :global .MuiAccordionDetails-root {
  padding: 0;
}

.accordion :global .MuiAccordionSummary-root:hover {
  background: inherit;
}

.accordion :global .Mui-expanded.MuiAccordionSummary-root {
  background: inherit;
}

.widgetWrapper {
  border: none;
  height: 300px;
}

/* iframe sm breakpoint + paddings */
@media (max-width: 662px) {
  .widgetWrapper {
    height: 624px;
  }
}
