.container {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  border-radius: 0 !important;
  background-color: var(--color-background-paper);
  padding-right: 0;
}

.element {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid var(--color-border-light);
}

.header > div {
  padding: 0 var(--space-2);
}

.logo {
  flex: 1;
}

.logo svg {
  width: auto;
  display: block;
  fill: var(--color-logo-main);
}

.menuButton {
  display: none;
}

@media (max-width: 768px) {
  .logo,
  .tokenWidget,
  .notificationCenter,
  .chainSwitcher {
    display: none;
  }

  .menuButton {
    display: block;
    flex: 1;
  }

  .header > div {
    padding: 0 var(--space-1);
  }
}
