.container {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  border-radius: 0 !important;
  background-color: var(--color-background-paper);
}

.element {
  padding: 0 var(--space-2);
  height: 100%;
  border-right: 2px solid var(--color-border-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuButton,
.logo {
  flex: 1;
  border: none;
  align-items: flex-start;
}

.logo svg {
  width: auto;
  display: block;
  fill: var(--color-logo-main);
}

.menuButton {
  display: none;
}

.networkSelector {
  padding-right: var(--space-1);
  border-right: none;
}

@media (max-width: 600px) {
  .logo,
  .hideMobile {
    display: none;
  }

  .menuButton {
    display: block;
  }
}
