.container tbody tr {
  transition: background-color 100ms linear;
}

.container tbody tr:hover {
  background-color: var(--color-background-light);
}

.container td {
  padding-top: 8px;
  padding-bottom: 8px;
}

.container td:last-of-type button {
  opacity: 0;
  transition: opacity 200ms 100ms ease-in-out;
}

.container tr:hover td:last-of-type button {
  opacity: 1;
}

.alignCenter {
  display: flex;
  align-items: center;
  gap: 4px;
}
