.container {
  container-type: inline-size;
  container-name: my-accounts-container;
  display:flex;
  justify-content:center; 
}

.myAccounts {
  width: 100%;
  max-width: 600px;
  margin: var(--space-2)
}

.safeList {
  padding: var(--space-3);
  margin-bottom: var(--space-3);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--space-3) 0;
  gap: var(--space-1);
}

.listItem {
  border: 1px solid var(--color-border-light);
  border-radius: var(--space-1);
  margin-bottom: 12px;
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
}

.currentListItem {
  padding-left: var(--space-2);
  border: 1px solid var(--color-secondary-light);
  border-left-width: 6px;
  background-color: var(--color-secondary-background) !important;
}

.listItem > :first-child {
  flex: 1;
}

.safeLink {
  display: flex;
  align-items: center;
  padding-right: var(--space-1);
}

.safeAddress {
  flex: 1;
  white-space: nowrap;
  padding-left: var(--space-2);
}

.watchlistHeader {
  padding-bottom:  var(--space-1);
  display: flex;
  justify-content: space-between;
}

.watchlistTitle {
  margin: auto 0;
}

@media (max-width: 899.95px) {
  .container {
    width: auto;
  }

  .safeLink {
    padding-right: 0;
  }
}

@container my-accounts-container (max-width: 500px) {
  .myAccounts {
    margin: 0;
  }

  .header {
    padding: var(--space-3);
    border-bottom: 1px solid var(--color-border-light);
  }

  .title {
    font-size: 20px;
  }
}
