.container {
  width: 600px;
}

.listItem {
  border: 1px solid var(--color-border-light);
  border-radius: var(--space-1);
  margin-bottom: 12px;
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
}

.listItem > :first-child {
  flex: 1;
}

.safeLink {
  display: flex;
  align-items: center;
  padding-right: var(--space-1);
}

.safeAddress {
  flex: 1;
  white-space: nowrap;
  padding-left: var(--space-2);
}

@media (max-width: 899.95px) {
  .container {
    width: auto;
  }

  .safeLink {
    padding-right: 0;
  }
}
