.label {
  font-weight: 700;
  margin-bottom: var(--space-2);
}

.card {
  height: inherit;
  border: none;
}

.grid {
  display: flex;
  height: inherit;
  gap: var(--space-3);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  padding: var(--space-3) var(--space-4);
}

.title {
  font-weight: 700;
  display: inline;
  margin-right: var(--space-1);
}

.imageContainer {
  display: flex;
  align-items: flex-end;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--space-2);
}

@media (max-width: 599.95px) {
  .imageContainer {
    width: 100%;
    justify-content: flex-end;
  }

  .buttonContainer {
    gap: 0;
    justify-content: space-between;
  }

  .wrapper {
    padding: var(--space-3);
  }
}
