.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-3) var(--space-3) var(--space-2);
  border-bottom: 1px solid var(--color-border-light);
}

.chainDivider {
  width: unset;
  border-radius: 8px;
  text-transform: none;
  height: 27px;
  margin: var(--space-2);
}

.ownedLabelWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ownedLabel {
  cursor: pointer;
  color: var(--color-primary-light);
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
}

.list {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 0;
}

@media (max-width: 599.95px) {
  .list {
    overflow-x: auto;
  }
}
