.profileImg {
  border-radius: var(--space-2);
  width: 32px;
  height: 32px;
}

.profileData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.passwordWrapper {
  padding: var(--space-4) var(--space-4) var(--space-2) var(--space-4);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: var(--space-1);
}

.loginError {
  width: 100%;
  margin: 0;
}
