.hideTokensHeader {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: var(--space-1);
  padding: 5px var(--space-2);
  margin-right: var(--space-3);
  background-color: var(--color-background-light);
  border-radius: 6px;
  min-width: 185px;
}

.stickyBox {
  position: sticky;
  top: 123px; /* under AssetHeader */
  z-index: 1;
  padding: var(--space-2);
  background-color: var(--color-background-default);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: -24px;
  margin-bottom: -42px; /* 24 + 42 is the height of the box itself, causes the table to not scroll on first selection */
}

.cancelButton {
  padding: 4px 10px;
  margin-left: var(--space-1);
}

.applyButton {
  margin-left: var(--space-1);
  padding: 6px var(--space-3);
}
