.container {
  max-width: 695px;
  margin: auto;
  padding: var(--space-5) 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--space-2);
}

.sidebarHeader {
  border-bottom: 1px solid var(--color-border-light);
  padding: 16px 26px;
  margin: 0;
  /* padding: 0 24px; */
  /* font-size: 20px; */
}

.sidebarTitle {
  font-size: 20px;
}


@media (max-width: 400px) {
  /* .header {
    font-size: 20px;
  } */
}
