.container {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.actions {
  visibility: hidden;
  display: flex;
  flex-direction: row;
}

.row:hover .actions {
  visibility: initial;
}
