.container td:last-of-type button {
  opacity: 0;
  transition: opacity 0.2s;
}

.container tr:hover td:last-of-type button {
  opacity: 1;
}

.token {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

@media (max-width: 600px) {
  .container td:last-of-type button {
    opacity: 1;
  }
}
