.container td:last-of-type button {
  opacity: 0;
  transition: opacity 0.2s;
}

.container tr:hover td:last-of-type button {
  opacity: 1;
}

.token {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

@media (max-width: 600px) {
  .container td:last-of-type,
  .container th:last-of-type {
    display: none;
  }
}

.hideTokensHeader {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: var(--space-1);
  padding: 5px 16px;
  background-color: var(--color-background-light);
  border-radius: 6px;
  min-width: 185px;
}

.tinyButton {
  margin-left: var(--space-1);
  padding: 4px 10px;
}
