.wrapper {
  position: fixed;
  bottom: var(--space-3);
  right: var(--space-3);
  width: 350px;
  background: var(--color-text-primary);
  color: var(--color-background-paper);
  padding: var(--space-2);
  z-index: 1400;
}

.button {
  display: block;
  margin-left: auto;
}
