.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: transparent;
}

.progressBar :global .MuiLinearProgress-bar {
  background: linear-gradient(84.56deg, #11ff80 -0.82%, #5eddff 75.55%);
}
