.container tbody tr {
  transition: background-color 100ms linear;
}

.container tbody tr:hover {
  background-color: var(--color-background-light);
}

.container td:last-of-type button {
  opacity: 0;
  transition: opacity 200ms 100ms ease-in-out;
}

.container tr:hover td:last-of-type button {
  opacity: 1;
}

.entryButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.headerButtonWrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 8px;
}
