.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-2);
  width: 350px;
  text-align: center;
}

.chain,
.method {
  margin: 2px;
}

.method {
  background: var(--color-border-background);
  color: var(--color-text-primary);
  align-items: center;
  justify-content: center;
  display: inline-block;
  font-size: 11px;
  line-height: normal;
  border-radius: 4px;
  padding: 4px 8px;
}
