.radioContainer {
  border: 1px solid var(--color-border-light);
  margin: 0;
  border-radius: 6px;
  height: 72px;
  flex-basis: 72px;
  padding: 0 var(--space-1);
}

.radioGroup {
  gap: var(--space-2);
  flex-wrap: wrap;
}

.active {
  outline: 1px solid var(--color-primary-main);
  border-color: var(--color-primary-main);
}

.active .radioTitle {
  font-weight: bold;
}

.listItem {
  min-width: 0;
  margin-right: var(--space-1);
  color: var(--color-primary-main);
}

.active .radioSubtitle {
  color: var(--color-text-primary);
}

@media (max-width: 400px) {
  .radioGroup {
    flex-direction: column;
  }
}
