.accordion {
  border: 2px solid #EEEFF0;
  border-radius: 8px;
  box-shadow: unset;
}

.accordion::before {
  content: none;
}

.accordion .MuiAccordionSummary-root.Mui-expanded {
  border-bottom: 2px solid #E8E7E6;
}

.accordionSummary > div {
  margin: 0;
}

.accordionDetails {
  padding: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  min-height: 200px;
}
