.accordion {
  border-radius: 8px;
  box-shadow: unset;
}

.accordion::before {
  content: none;
}

.accordionSummary > div {
  margin: 0;
}

.accordionDetails {
  padding: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  min-height: 200px;
}
