.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  position: absolute;
  right: var(--space-3);
  top: var(--space-3);
}

.container > *:first-of-type {
  width: 6em;
}
