c.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.name,
.safe,
.iconButtons {
  padding: 8px 8px;
}

.safe {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
  padding: 8px;
}

.icon {
  padding: 8px 20px 8px 0;
}

.iconButtons {
  display: flex;
  gap: 8px;
}

.iconButton {
  border-radius: 4px;
  padding: 6px;
}

.newTxButton {
  padding: 8px;
  width: 100%;
  text-align: center;
}
