.gridRow {
  display: grid;
  grid-template-columns: 35% auto;
  gap: var(--space-1);
  justify-content: flex-start;
  max-width: 900px;
}

.title {
  color: var(--color-secondary-light);
  word-break: break-all;
}

.value {
  font-size: 14px;
}

.gridRow > * {
  flex-shrink: 0;
}

.valueWrapper {
  min-width: 50%;
  flex-shrink: 0;
}

.rawData {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .gridRow {
    grid-template-columns: 1fr;
    gap: 0;
    margin-top: var(--space-1);
  }
}
