.container {
  background-color: var(--color-background-paper);
  border-top: 1px solid var(--color-border-light);
  padding: var(--space-3);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
  justify-content: center;
}

.container form {
  margin-top: var(--space-2);
}
