.label {
  font-weight: 700;
  margin-bottom: var(--space-2);
}

.card {
  padding: var(--space-3) var(--space-4);
  height: inherit;
}

.grid {
  display: flex;
  align-items: center;
  height: inherit;
  gap: var(--space-3);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

.title {
  font-weight: 700;
  display: inline;
}
