.connectedContainer {
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
  text-align: left;
  gap: var(--space-1);
  height: 100%;
  padding: var(--space-1) var(--space-2);
  border-left: 2px solid var(--color-border-light);
  border-right: 2px solid var(--color-border-light);
}

.popoverContainer {
  padding: var(--space-2);
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
}

.imageContainer {
  position: relative;
  font-size: 16px;
}

.rowContainer {
  align-self: stretch;
  margin-left: calc(var(--space-2) * -1);
  margin-right: calc(var(--space-2) * -1);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--color-border-light);
  border-bottom: 2px solid var(--color-border-light);
  padding: 4px var(--space-2);
  margin-top: -2px;
}

@media (max-width: 768px) {
  .buttonContainer {
    padding: var(--space-1);
  }

  .buttonContainer button {
    font-size: 12px;
  }

  .walletDetails {
    display: none;
  }
}
