.warningAccordion {
  border: 1px var(--color-warning-main) solid !important;
  margin-bottom: var(--space-2) !important;
}
.warningAccordion:hover {
  border: 1px var(--color-warning-dark) solid !important;
}

.warningAccordion :global .Mui-expanded.MuiAccordionSummary-root,
.warningAccordion :global .MuiAccordionSummary-root:hover {
  background-color: var(--color-warning-light);
}
