.wrapper {
  width: 446px;
  border: 1px solid var(--color-border-light);
}

.popoverHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-3);
  border-bottom: 2px solid var(--color-background-main);
}
