.container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  border-top: 1px solid var(--color-border-light);
}

.details {
  width: 66.6%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.shareLink {
  position: absolute;
  right: 16px;
  top: 16px;
}

.details .noSigners {
  width: 100%;
}

.loading,
.error,
.txData,
.txSummary,
.advancedDetails,
.txModule {
  padding: 20px 24px;
}

.txData {
  border-bottom: 1px solid var(--color-border-light);
}

.txSummary,
.advancedDetails {
  height: 100%;
}

.txSigners {
  display: flex;
  width: 33.3%;
  flex-direction: column;
  padding: var(--space-3);
  border-left: 1px solid var(--color-border-light);
}

.delegateCall .alert {
  width: fit-content;
  padding: 0 var(--space-1);
}

.multiSend {
  border-top: 1px solid var(--color-border-light);
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .details {
    width: 100%;
  }

  .txSigners {
    width: 100%;
    border-left: 0;
    border-top: 1px solid var(--color-border-light);
  }
}
