.container {
  text-align: left;
  margin-left: 40px;
}

.ownedSafes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ownedSafes li:not(.selected) a {
  text-decoration: underline;
  cursor: pointer;
}

.ownedSafes li {
  margin: 0 0 0.5em;
  padding: 0;
}
