.barWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: var(--onboard-modal-z-index, var(--modal-z-index));

  /*this rule is needed to prevent the bar from being expanded outside the screen without scrolling on mobile devices*/
  max-height: 90vh;
}
