.select {
  height: 100%;
}

.select:after,
.select:before {
  display: none;
}

.select *:focus {
  background: inherit;
}

.select :global .MuiSelect-select {
  padding-right: 40px !important;
  padding-left: 16px;
  height: 100%;
  display: flex;
  align-items: center;
}

.select :global .MuiSvgIcon-root {
  margin-right: var(--space-2);
}
