.select {
  height: 100%;
}

.select:after,
.select:before {
  display: none;
}

.select *:focus-visible {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.select :global .MuiSelect-select {
  padding-right: 40px !important;
  height: 100%;
  display: flex;
  align-items: center;
}

.ChainIndicator {
  height: 38px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 8px 16px;
  border-radius: 6px;
}

.select :global .MuiSvgIcon-root {
  margin-right: var(--space-2);
}
