.tabs {
  overflow: initial;
  width: 100%;
}

.tabs :global .MuiTabs-scroller {
  margin: auto;
  width: 100%
}

.tabs :global .MuiTabs-scroller .MuiTabs-indicator {
  background-color: primary.text;
}

.tab {
  opacity: 1;
  padding: 0;
  min-width: 0;
  margin-right: 24px;
  position: relative;
  z-index: 2;
}

.label {
  text-transform: none;
  padding-bottom: 20px;
  font-size: 16px;
}
