.actionsHeader {
  border-bottom: 1px solid var(--color-border-light);
  cursor: auto !important;
  padding-left: 16px;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.compactHeader {
  border: 0;
}

.actionsHeader button {
  padding-left: 18px;
  padding-right: 18px;
}

.divider {
  margin-top: 14px;
  margin-bottom: 14px;
  border: 1px solid var(--color-border-light);
}

.compact > div:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.compact > div ~ div {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px !important;
}
