.info {
  border-color: var(--color-border-light);
  background-color: var(--color-background-main);
  padding: var(--space-2);
}

.info :global .MuiAlert-icon {
  color: var(--color-text-main);
  padding: 0;
}

.info :global .MuiAlert-message {
  padding: 0;
}

.item {
  padding-left: var(--space-1);
}

.icon {
  min-width: 38px;
}
