.compactCardContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.compactShareButton {
  width: 32px;
  position: absolute;
  top: 2px;
  left: 2px;
}
