.header {
  margin-bottom: -11px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.step {
  position: relative;
}

/* Back button */
.backButton {
  position: absolute;
  left: var(--space-3);
  bottom: var(--space-3);
}

.step :global(.MuiCardContent-root:last-child) {
  padding-bottom: var(--space-2);
}

/* Submit button */
.step :global(.MuiCardActions-root) {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: var(--space-3);
}

.step :global(.MuiCardActions-root) button[type='submit'] {
  align-self: flex-end;
}
