.header {
  margin-bottom: -22px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.step {
  position: relative;
}

/* Back button */
.backButton {
  position: absolute;
  left: var(--space-3);
  bottom: var(--space-3);
}

.step :global(.MuiCardContent-root:last-child) {
  padding-bottom: var(--space-2);
}

/* Submit button */
.step :global(.MuiCardActions-root) {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: var(--space-3);
}

.step :global(.MuiCardActions-root) button[type='submit'] {
  align-self: flex-end;
}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  border: 1px solid var(--color-border-light);
  margin-right: var(--space-2);
}

.icon svg {
  height: 16px;
  width: auto;
}
