.menu :global .MuiPaper-root {
  border-radius: 8px !important;
  width: 138px;
}

.menu :global .MuiList-root {
  padding: 4px;
}

.menu :global .MuiMenuItem-root {
  padding-left: 12px;
  min-height: 40px;
}

.menu :global .MuiMenuItem-root:hover {
  border-radius: 8px !important;
}

.menu :global .MuiListItemIcon-root {
  min-width: 26px;
}
