.group {
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--space-2);
}

.radio {
  margin: 0;
  border: 1px solid var(--color-border-main);
  border-radius: 4px;
  padding: 9px 3px;
}
