.balanceChanges {
  padding: var(--space-1) var(--space-2);
  max-height: 300px;
  overflow-y: auto;
  align-items: center;
}

.balanceChange {
  display: flex;
  border-radius: 6px;
  align-items: center;
  margin-bottom: 6px;
}

.nftId {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.categoryChip {
  border-radius: 4px;
  margin-left: auto;
  height: auto;
}

.head {
  border-bottom: 1px solid var(--color-border-light);
  padding: var(--space-1) var(--space-2);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.box {
  border-radius: 6px;
  border: 1px solid var(--color-border-light);
  margin: var(--space-2) 0;
  display: flex;
  flex-direction: column;
}
