@import url(./vars.css);
@import url(./onboard.css);

@font-face {
  font-family: 'Averta';
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Averta.woff2') format('woff2');
}

@font-face {
  font-family: 'Averta';
  font-display: swap;
  font-weight: bold;
  src: url('/fonts/Averta-Bold.woff2') format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Averta, sans-serif;
  background-color: var(--color-background-paper);
  overflow: hidden;
}

main {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
