html,
body {
  padding: 0;
  margin: 0;
  font-family: Averta, sans-serif;
  background: #F6F7F8;
  color: #001428;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
