@font-face {
  font-family: 'Averta';
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Averta.woff2') format('woff2');
}

@font-face {
  font-family: 'Averta';
  font-display: swap;
  font-weight: bold;
  src: url('/fonts/Averta-Bold.woff2') format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Averta, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --onboard-modal-z-index: 1201;
}
