.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.container svg,
.container img {
  min-height: 200px;
  max-height: 100%;
  width: auto;
}
