.container {
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.container p {
  max-width: 1024px;
  text-align: justify;
}
