.container {
  padding: var(--space-5) var(--space-3) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border-light);
  background-color: var(--color-background-paper);
  z-index: 1;
}
