.container {
  padding: var(--space-4) var(--space-3) 0;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-background-main);
  z-index: 1;
  width: calc(100% - var(--space-6));
  position: sticky !important;
  top: -12px;
}

.title {
  padding-bottom: 12px;
  font-weight: 700;
}
