.wrapper :global .MuiInputBase-root {
  background-color: var(--color-background-paper);
  border-radius: 6px;
  height: 66px;
  padding: 12px var(--space-2);
}

.wrapper :global .MuiInputLabel-root.Mui-error[data-shrink='false'] {
  padding: 5px 4px;
}

.openButton svg {
  transition: transform 0.3s ease-in-out;
}

.rotated svg {
  transform: rotate(180deg);
}
