.container {
  background-color: #e8e7e6;
  display: grid;
  gap: 2px;
  grid-template-columns: 2fr minmax(0, 1fr);
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.details.noSigners {
  grid-column: 1 / 3;
}

.txData,
.txSummary,
.advancedDetails,
.txModule {
  background: white;
  padding: 20px 24px;
}

.txData {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.txSummary,
.advancedDetails {
  border-bottom-left-radius: 8px;
  height: 100%;
}

.txSigners {
  padding: 24px;
  background: white;
  border-bottom-right-radius: 8px;
}

.noPadding {
  padding: 0;
}

.txSummary.multisend {
  border-bottom-left-radius: 0;
}

.txData.multisend {
  border-bottom-left-radius: 8px;
}

.txData.multisend:last-child {
  border-bottom-left-radius: 8px;
}
