.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  border-top: 2px solid var(--color-border-light);
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: 2fr 1fr;
  }
}

.details {
  display: flex;
  flex-direction: column;
  position: relative;
}

.shareLink {
  position: absolute;
  right: 16px;
  top: 16px;
}

.details.noSigners {
  grid-column: 1 / 3;
}

.loading,
.error,
.txData,
.txSummary,
.advancedDetails,
.txModule {
  padding: 20px 24px;
}

.txData {
  display: flex;
  flex-direction: column;
  padding-right: 60px; /* to not overlap with the share link */
  border-bottom: 2px solid var(--color-border-light);
}

.txSummary,
.advancedDetails {
  height: 100%;
}

.txSigners {
  padding: 24px;
  border-top: 2px solid var(--color-border-light);
}

@media (min-width: 600px) {
  .txSigners {
    border-top: 0;
    border-left: 2px solid var(--color-border-light);
  }
}
