.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  margin: -2px; /* to compensate for the border */
  width: calc(100% + 4px);
  border-radius: 8px;
  overflow: hidden;
}

.details {
  display: flex;
  flex-direction: column;
  position: relative;
}

.shareLink {
  position: absolute;
  right: 16px;
  top: 16px;
}

.details.noSigners {
  grid-column: 1 / 3;
}

.loading,
.error,
.txData,
.txSummary,
.advancedDetails,
.txModule {
  padding: 20px 24px;
}

.multisendInfo,
.delegateCall {
  padding: 20px 24px 0;
}

.delegateCall .alert {
  width: fit-content;
  padding: 0px 10px;
}

.txData {
  display: flex;
  flex-direction: column;
  padding-right: 60px; /* to not overlap with the share link */
}

.txSummary,
.advancedDetails {
  height: 100%;
}

.txSigners {
  padding: 24px;
}

.noPadding {
  padding: 0;
}
