.toggle {
  font-weight: 700;
  text-decoration: underline;
  text-align: left;
}

.truncated {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 9ex;
}

.overflow {
  overflow: auto;
}

.pre {
  margin: 0;
}
