.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1201;
}

.stickynav {
    padding: 24px 24px 0 24px;
    width: 100%;
}

.main {
  background-color: var(--color-background-main);
  padding-top: var(--header-height);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: padding 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.gridsidecontainer {
  padding: 0;
  background-color: var(--color-background-main);
}

.sidebar {
    margin-left: 48px;
    margin-top: 108px;
    height: calc(100vh - 84px - 24px);
    background: var(--color-background-paper);
    padding: 0!important;
    border-radius: 6px;
    position: sticky;
    top: 84px;
}

.mainNoSidebar {
  padding-left: 0;
}

.content {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.content main {
  padding: var(--space-3);
}

.sidebarTogglePosition {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  /* mimics MUI drawer animation */
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.sidebarTogglePosition.sidebarOpen {
  transform: translateX(230px);
}

.sidebarToggle {
  height: 100vh;
  width: var(--space-1);
  background-color: var(--color-border-light);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}

.sidebarToggle button {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -3px;
  transform: translateY(-50%);
  background-color: var(--color-border-light);
  clip-path: inset(0 -14px 0 0);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sidebarToggle:hover,
.sidebarToggle:hover button {
  background-color: var(--color-background-light);
}

@media (min-width: 901px) {
  .mainview {
    width: calc(100vw - 364px);
    padding-left: 0!important;
  }
  .drawermo {
  display:none;
  }
}

@media (max-width: 900px) {
  .mainview {
  width: 100%;
  }
  .sidebar {
  display: none;
  }
  .main {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .main main {
    padding: var(--space-2);
  }
}
