.autocomplete {
  min-width: 400px;
  font-size: 14px;
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px var(--space-1);
  cursor: pointer;
}

.option:hover {
  background: var(--color-background-main);
}

.tinyButton {
  font-size: 12px;
  font-weight: normal;
  padding: 4px 8px;
}

.input {
  border-radius: 8px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
}

.listItem {
  border: 1px solid var(--color-border-light);
  border-radius: 4px;
}
