.txSummary {
  padding: var(--space-3);
  height: 100%;
}

.multisendInfo {
  padding: 20px 24px 0;
}

.txData {
  display: flex;
  flex-direction: column;
  border-bottom: none;
  border-top: 2px solid var(--color-border-light);
  padding: var(--space-3);
  padding-right: 60px;
}
