.container,
.drawer {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: var(--color-background-paper);
}

.container {
  min-width: 220px;
  border-right: 1px solid var(--color-border-light);
}

.scroll {
  position: relative;
  width: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 52px); /* needed for scroll */
}

.drawer,
.ownedSafes {
  width: 340px;
}

.drawer {
  text-align: center;
  padding: 52px 0 0;
  border-right: 1px solid var(--color-border-light);
}

.chain > * {
  padding: 3px;
}

.noSafeHeader {
  background: url('/keyhole.svg') center 10px no-repeat;
  padding-top: 50px;
  min-height: 80px;
}

.drawerButton {
  position: absolute !important;
  z-index: 2;
  right: 0;
  transform: translateX(50%);
  margin-top: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
  color: var(--color-secondary-main);
  background-color: var(--color-border-light);
}

.drawerButton:hover {
  background-color: var(--color-primary-background);
}

.drawerButton svg {
  transform: translateX(-25%);
}

@media (max-width: 768px) {
  .container {
    padding-top: 74px;
  }

  .drawer {
    max-width: 90vw;
  }
}
