name: Web Unit tests
on:
  pull_request:
    paths:
      - apps/web/**

  push:
    branches:
      - main
    paths:
      - apps/web/**
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    permissions:
      contents: read
      checks: write
      pull-requests: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/yarn

      - name: Annotations and coverage report
        uses: ArtiomTr/jest-coverage-report-action@v2.3.1
        with:
          skip-step: install
          annotations: failed-tests
          package-manager: yarn
          test-script: yarn test:ci
          working-directory: apps/web
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          NEXT_PUBLIC_IS_OFFICIAL_HOST: true
