.threshold {
  position: absolute;
  margin-top: -8px;
  margin-left: -8px;
  left: 36px;
  z-index: 1;
  border-radius: 100%;
  font-size: 12px;
  min-width: 25px;
  min-height: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  font-weight: 700;
}
