.gridContainer {
  width: 100%;
  display: grid;
  gap: var(--space-2);
  align-items: center;
  white-space: nowrap;
  grid-template-columns: minmax(150px, 3fr) minmax(150px, 3fr) minmax(150px, 3fr) minmax(100px, 1fr) minmax(100px, auto);
  grid-template-areas: 'type info date confirmations status';
}

@media (max-width: 1200px) {
  .gridContainer {
    gap: var(--space-1);
    display: flex;
    flex-wrap: wrap;
  }

  .date {
    width: 100%;
  }
}
